:root {
  --primary-color: #0010ba;

  --header-table-color: #ebebeb;
  --border-color: #8c8c8c;
  --footer-table-color: #ebebeb;

  --secondary-btn-color: #d1d1d1;
  --disabled-btn-color: #7f82a6;
  --danger-btn-color: #ff4f4f;

  --hover-background-color: #f3f4f6;
  --hover-dark-background-color: #d0d0d0;

  --light-text: #fff;
  --dark-text: #787878;
  --error-text: #ff3d3d;

  --radius-sm: 5px;
  --radius-md: 10px;

  --overlay-color: #0000004d;

  --form-color: #fff;

  --shadow-sm: 0px 10px 20px rgba(0, 0, 0, 0.2);

  --fs-md: 30px;
  --fs-lg: 40px;
  --fs-sm: 18px;
  --fs-sm-x: 16px;
  --fs-sm-2x: 12px;
}
