:root {
  --primary-color: #0010ba;
  --primary-hover-color: #0010ba8c;

  --header-table-color: #ebebeb;
  --item-selected: #f5f5f5;
  --border-color: #8c8c8c;
  --footer-table-color: #ebebeb;

  --secondary-btn-color: #d1d1d1;
  --disabled-btn-color: #7f82a6;

  --danger-btn-color: #ff4f4f;
  --danger-btn-hover-color: #ff4f4f8c;

  --success-btn-color: #228b22;
  --success-btn-hover-color: #228b2299;

  --hover-background-color: #f3f4f6;
  --hover-dark-background-color: #d0d0d0;

  --light-text: #fff;
  --dark-text: #787878;
  --error-text: #ff3d3d;

  --radius-sm: 5px;
  --radius-md: 10px;

  --overlay-color: #0000004d;

  --form-color: #fff;

  --background-login: #f8f8f8;

  --shadow-sm: 0px 10px 20px rgba(0, 0, 0, 0.2);

  --fs-md: 30px;
  --fs-lg: 40px;
  --fs-sm: 18px;
  --fs-sm-x: 16px;
  --fs-sm-2x: 12px;
}
